@import 'tailwindcss';

@import '@fontsource/poppins/300.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';

@theme {
  --font-sans:
    'Poppins', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f1f3f6;
  -webkit-font-smoothing: antialiased;
}
